@import url("/home/imcylon/.config/waybar/colors.css");

* {
    font-family: 'Cascursive Nerd Font', monospace;
    font-style: italic;
    font-weight: bold;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    color: @background;
}

#hardware {
    color: @surface_tint;
    background-color: @background80;
    border-color: @surface_tint;
    border-style: solid;
    border-width: 1px 1px 3px 1px;
    border-radius: 16px;
    margin-right: 6px;
    margin-left: 6px;
    padding: 0px 15px 0px 15px;
}

#audio {
    color: @surface_tint;
    background-color: @background80;
    border-color: @surface_tint;
    border-style: solid;
    border-width: 1px 1px 3px 1px;
    border-radius: 16px;
    margin-right: 6px;
    margin-left: 6px;
    padding: 0px 15px 0px 15px;
}

#custom-launcher,
#workspaces,
#workspaces button,
#clock,
#custom-emerge,
#tray,
#custom-spotify,
#custom-media,
#custom-cpu_history,
#custom-cava,
#custom-gh_heatmap,
/* #pulseaudio, */
/* #bluetooth, */
/* #cpu, */
/* #load, */
/* #memory, */
#custom-weather
{
    color: @surface_tint;
    background-color: @background80;
    border-color: @surface_tint;
    border-style: solid;
    border-width: 1px 1px 3px 1px;
    border-radius: 18px;
    margin-right: 6px;
    margin-left: 6px;
}

#custom-launcher {
    margin: 0px 5px 0px 0px;
    padding: 5px 10px 5px 10px;
}

#workspaces {
    padding: 0px 0px 0px 0px;
}

#workspaces button {
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    border-width: 0px;
    background: transparent;
}

#workspaces button.active{
    color: @surface_dim;
    padding: 0px 15px 0px 15px;
    background: @surface_tint;
}
#custom-spotify {
    font-size: 12px;
}

#custom-weather {
    background-color: @background80;
}

#clock,
#custom-emerge,
#tray,
#custom-spotify,
#custom-media,
#custom-cpu_history,
#custom-cava,
#custom-gh_heatmap,
/* #pulseaudio, */
/* #bluetooth, */
/* #cpu, */
/* #load, */
/* #memory, */
#custom-weather
{
    padding: 0px 10px 0px 10px;
}

.modules-left {
    margin-left: 12px;    
}

.modules-right {
    margin-right: 12px;    
}
