/* @import url("/home/user0/.cache/wal/colors-waybar.css"); */

* {
    font-family: 'Radio Canada Big', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
}

window#waybar {
    background-color: transparent;
    color: @background;
}


#workspaces button {
    color: #717171; /* color5 */
    background-color: rgba(10, 10, 10, 0.95);
    /* margin: 0 15px 0 0px; */
    /* top, right, bottom, left */
    /* padding: 5px 5px 5px 5px;  */
}

#workspaces button.active{
    /* color: @foreground; */
    color: #3399FF; /* color5 */
    background-color: rgba(10, 10, 10, 0.95);
    /* margin: 0 15px 0 0px; */
    /* top, right, bottom, left */
    /* padding: 5px 5px 5px 5px;  */
    /* border-bottom: 0.5px solid #ffffff; */
    /* border-radius: 0px; */

}

.modules-left {
    margin-left: 12px;    
}

.modules-right {
    margin-right: 12px;    
}

#battery,
#backlight,
#custom-weather {
    color: @color5; /* color5 */
    background-color: @background; /* background */
    margin: 0 15px 0 0px;
    padding: 0 15px 0 15px; /* top, right, bottom, left */
}

#network {
    color: @color2; /* color2 */
    background-color: @background; /* background */
    margin: 0 0px 0 0px;
    padding: 0 15px 0 15px; /* top, right, bottom, left */
}

#clock {
    color: @color3; /* color3 */
    background-color: @background; /* background */
    margin: 0 15px 0 0;
    padding: 0 15px 0 15px;
}

#network {
    color: @color4; /* color4 */
}

#backlight {
    color: @color5; /* color5 */
}

#custom-weather {
    color: @color4; /* color2 */
    background-color: @background; /* background */
    padding: 0 15px 0 15px; /* top, right, bottom, left */
}

#workspaces,
#tray,
#custom-emerge,
#custom-launcher,
#pulseaudio,
#clock{
    color: @color5; /* color5 */
    background-color: rgba(10, 10, 10, 0.45);
    margin: 0 5px 0 0px;
    padding: 0px 1px 0px 3px; /* top, right, bottom, left */
    border: 0.5px solid #ffffff;
}

#custom-media {
    color: @color4; /* color2 */
    background-color: #ff0; /* background */
    margin: 0 0px 0 15px;
    padding: 0 15px 0 15px; /* top, right, bottom, left */
}
